<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Numpy.Bare" version="3.7.1.10" targetFramework="net472" />
  <package id="Python.Runtime.NETStandard" version="3.7.1" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
</packages>