<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Numpy.Bare" version="3.8.1.25" targetFramework="net472" />
  <package id="pythonnet_netstandard_py38_win" version="2.5.2" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
</packages>